$gradientColorFirst: #141E30;
$gradientColorSecond: #243B55;
:export {
    primaryColor: $gradientColorFirst;
    secondaryColor: $gradientColorSecond;
  }
$formColor:	 #52667a;
$fieldBorder:black;
$fieldBorderFocused:green;
$ButtonFormTextColor:#000033;

$TableHeadingColor:#36304a;
$TabeBodyTextColor:black;
$TableBodyColor:	#993366;
